* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', 'Roboto', sans-serif;
}
:root {
  --color-font:#daa520;
  --background-color: #000000;
  --color-transition: #ecaf14;
}
header {
  top: 0;
  position: sticky;
  background: rgba(0,0,0,.5);
  width: 100%;
  height: 6em;
  padding: 0.5em;
  box-shadow: 0px 1px 10px 0px;
  z-index:1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.navbar h2 {
  font-weight: thin;
  color: var(--color-font);
}
.navbar p {
  color: white;
  font-weight: bolder;
  font-variant: all-small-caps;
}
.navbar img {
  width: 3.6em;
}

body {
  background-image: url(background.svg);
  background-size: cover;
  /*background-repeat: no-repeat;
  background-position: center;
  padding: 0.5em 0;
  align-content: center;
  justify-content: center;
  Height: 100vh;
  Width: 100vw;
  min-width: 380px;*/
}
.container {
  color: var(--color-font);
  font-size: 1.2em;
  text-transform: uppercase;
  display: flex;
  background: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5em;
  padding-bottom: 5em;
  align-items: center;
} 

.container h1{
  font-weight: lighter;
  text-decoration: overline;
  text-decoration-thickness: from-font;
}
.container p {
  font-weight: bold;
}
.container img {
  /*background-position: center;
  position: relative;
  bottom: -8.5em;
  height: 10em;
  width: 10em;
  clip-path: circle(50% at 50% 50%);*/ 
  height: auto;
  width: 10em;
  border-radius: 100%;
}
/*
.card-container {
  position: relative;
  bottom: -2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}*/
main {
  text-align: center;
  justify-content: center;
  position: relative;
  background: rgba(0,0,0,.5);
  backdrop-filter: blur(5px);
  max-width: 600px;
  margin: 0 auto;
}
/*
main h1 {
  margin-top: 5em;
}*/

footer {
  bottom:0;
  text-align: center;
  max-width: 600px;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  height: 300px;
}
footer a {
  text-decoration: none;
  color: var(--color-font);
  font-size: 2rem;
}
footer img {
  position: absolute;
  z-index: -2;
  margin-left:-12em;
  margin-top:-2em;
  filter: brightness(40%);
}
button {
  background-color: var(--background-color);
  color: var(--color-font);
  border: solid 1px var(--color-font);
  border-radius: 0.8em;
  padding: 10px;
  /*margin: 8em 0;
  position: relative;
  bottom: -9em;*/
}
.navigation-container img:hover {
  height:2em;
  transition: 4s;
}
.navigation-container {
  background: url('background-footer.svg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 300px;
  max-width: 600px;
}
.navigation-container ul {
  align-items: center;
  display: flex;
  /*margin-left: 50%;
  margin-right:50%;*/
  padding-top: 2em;
}

.navigation-container li {
  list-style-type: none;
  margin: 0 1em;
  /*position:relative;
  left:-13.2em;
  top:10em;*/
}
[class^="ph-"], [class*=" ph-"] {
  display: inline-flex;
  transition: 400ms ease all;
  border-radius: 50%;
}
[class^="ph-"]:hover, [class*=" ph-"]:hover {
  background: rgba(255,255,255,0.5);
}
